.article__grid {
   display: grid;
   /* grid-template-columns: 1fr 1fr 1fr; */
   width: 90%;
   margin: auto;
   grid-gap: 50px;
}

.article__img {
   text-align: center;
}

#title {
   text-align: center;
   margin: 45px;
}

.article__item * {
   margin: 10px 0;
   padding: 5px 15px;

}

.article__item {
   background: #f8f8f8;
   border-radius: 20px;
   transition: 0.5s;
   cursor: pointer;
   box-shadow: 8px 10px 26px 16px rgba(194, 194, 194, 0.73);
   position: relative;
   padding: 0 0 25px 0;
}

.article__item:hover {
   background: #c2c2c2;
   transition: 0.5s;
}

.article__description {
   font-size: 17px;
   text-align: justify;
}

.article__title {
   font-size: 25px;
}

.article__pub__date a {
   text-decoration: none;
   padding: 0;
   color: crimson;
   font-size: 16px;
}

.article__pub__date {
   position: absolute;
   bottom: 5px;
   font-style: italic;
}

@media all and(max-width:550px){
.article__grid{
grid-template-columns: 1fr;
}
}

@media all and (min-width: 551px) and (max-width: 5900px){
.article__grid{
grid-template-columns: 1fr 1fr 1fr;
}
}

 
